.page-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #B8C7FE;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.buy-button {
  background-color: #00CA58;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  padding: 2rem;
  color: #11090d;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.product-card img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}